$boxShadow: 0px 12px 12px rgba(0, 0, 0, 0.06);

$biloba-flower: #c5adef;
$grey: #b2b3bb;
$light_grey: #ecf1f8;
$dark_gray: #3e4056;
$orange: #ed5267;
$link_color: #f05d63;

%transition {
  transition: all 0.5s;
}
